
Project_Code_Base/cSharpTest/cSharpTest/obj/cSharpTest.csproj.nuget.dgspec.json
Project_Code_Base/cSharpTest/cSharpTest/obj/Debug/net6.0/cSharpTest.assets.cache
Project_Code_Base/cSharpTest/cSharpTest/obj/Debug/net6.0/cSharpTest.csproj.AssemblyReference.cache
Project_Code_Base/cSharpTest/cSharpTest/obj/Debug/net6.0/cSharpTest.csproj.CoreCompileInputs.cache
Project_Code_Base/cSharpTest/cSharpTest/obj/Debug/net6.0/cSharpTest.csproj.FileListAbsolute.txt
Project_Code_Base/cSharpTest/cSharpTest/obj/Debug/net6.0/cSharpTest.dll
Project_Code_Base/cSharpTest/cSharpTest/obj/project.assets.json
Project_Code_Base/cSharpTest/cSharpTest/obj/project.nuget.cache
Project_Code_Base/cSharpTest/cSharpTest/Program.cs
Project_Code_Base/cSharpTest/PravegaCSharpLibrary/bin/Debug/net6.0/PravegaCSharpLibrary.dll
Project_Code_Base/cSharpTest/PravegaCSharpLibrary/obj/Debug/net6.0/PravegaCSharpLibrary.dll
Project_Code_Base/cSharpTest/PravegaCSharpLibrary/obj/Debug/net6.0/PravegaCSharpLibrary.csproj.FileListAbsolute.txt
Project_Code_Base/cSharpTest/PravegaCSharpLibrary/obj/Debug/net6.0/ref/PravegaCSharpLibrary.dll
Project_Code_Base/cSharpTest/PravegaCSharpLibrary/obj/Debug/net6.0/refint/PravegaCSharpLibrary.dll
Project_Code_Base/cSharpTest/PravegaCSharpLibrary/target/debug/PravegaCSharp.dll
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/bin/Debug/net6.0/CoverletSourceRootsMapping
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/bin/Debug/net6.0/PravegaCSharpLibrary.dll
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/bin/Debug/net6.0/PravegaWrapperTestProject.dll
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.assets.cache
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.csproj.AssemblyReference.cache
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.csproj.CoreCompileInputs.cache
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.csproj.FileListAbsolute.txt
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.GeneratedMSBuildEditorConfig.editorconfig
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.dll
Project_Code_Base/cSharpTest/PravegaWrapperTestProject/obj/Debug/net6.0/PravegaWrapperTestProject.genruntimeconfig.cache
